.addressBar {
  margin-bottom: 16px;
  margin-left: 140px;
}

.addressBar .topRow {
  display: grid;
  grid-template-columns: 20fr 4fr;
}

.addressBar .ant-page-header.ant-page-header-ghost {
  padding: 0;
}